*{
    scrollbar-width: none;
}

body{
    overflow-x: hidden;
}

.slide_in{
    animation: slide_In 300ms ease-in-out;
}

.slide_in_reverse{
    animation: slide_In 300ms ease-in-out reverse;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file-input-one::before{
    content: 'full book pdf';
}
.file-input-two::before{
    content: 'summary pdf';
}
.file-input-three::before{
    content: 'audio summary video';
}

.pdf-div{
    padding: 20px;
    background-color: red;
}

canvas.react-pdf__Page__canvas{
    margin-bottom: 20px;
}

/* div[data-testid="core__inner-current-pages"] > div {
} */
.rpv-core__inner-pages{
    height: 100dvh !important;
}

/* .rpv-core__spinner{
    height: 100dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
} */


@keyframes slide_In {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}